@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 
    'Open Sans', sans-serif;
}

.menu {
    height: 100px;
    width: 100%;
    background-color: #7ACC2D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__logo--img{
    padding: 10px;
}
.menu__list {
    display:flex;
    flex-direction: row;
}
.menu__list--item{
    list-style: none;
    margin: 0 10px;
}
.menu__list--item a{
    color:black;
    text-decoration: none;
}
.menu__list--item a:hover {
    color: white;
}

/*-----------------------------section*/

.container {
    max-width: 1000px;
    /*outline: 1px solid green;*/
    margin: 0 auto;

}

.productos {
    /*outline: 1px solid violet;*/
    margin: 100px 20px 200px 20px;

}
h1 {
    font-size: 30px;
}
.row {
 /*   outline: 1px solid blue;*/
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    row-gap: 172px;
}
/*.col-1{
   /* outline: 1px solid red;*/
    

.one {
    grid-column: 1/3;
    grid-row: 1;
}
.one_image {
    width: 230px;
    height: 230px;
    text-align: left;
}
.two {
    grid-column:3/7;
    grid-row: 1;
}
.three {
    grid-column: 1/5;
    grid-row: 2/3;
    margin-left: -20px;
}
.three_image {
    width: 272px;
    height: 248px;
    padding-left: 50px;
}
.four {
    grid-column: 5/7;
    grid-row: 2/3;
}
.five {
    grid-column: 1/3;
    grid-row: 3/4;
    
}
.five_image {
    width: 217px;
    height: 207px;
    text-align: left;
    
}
.six {
    grid-column: 3/7;
    grid-row: 3/4;
}

.two, .three, .six {
    padding-top: 70px;
    padding-right: 30px;
}



.footer{
    height: 100px;
    background-color: #313337;
    display:flex;
    justify-content: space-between;
    align-items: center
}
.footer__condition{
    padding: 0 10px;
}
.footer__condition--box {
    text-decoration: none;
    color: white;   
}

